.content-container {
  min-height: calc(100vh - 24px);
}

.footer {
  position: fixed;
  bottom: 0;
}

.App {
  text-align: center;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 5;
}

a.nav-link,
p {
  font-family: "Courier New", Courier, monospace;
}
